#root {
  @apply bg-blue-100;
  min-height: 100vh;
  /* overflow-x: hidden; */
  position: relative;
  /* max-width: 1280px;
  padding: 2rem;
  text-align: center; */
}
.triangle {
  /* border-left: 7px solid transparent; */
  border-right: 32px solid transparent;
  border-top: 32px solid;
}
.custom-loader {
  width: 80px;
  height: 80px;
  color: #1d4ed8;
  background: linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0), linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0);
  background-size: 42px 42px;
  background-repeat: no-repeat;
  animation: sh5 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes sh5 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }
  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    width: 120px;
    height: 120px;
  }
  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: 120px;
    height: 120px;
  }
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}
